p

{
    color:rgb(0, 0, 0);
    font-family:'Trebuchet MS', 'serif', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
}
body 
{

    
    background-image: url('gliti1.gif');
    background-size: 3450px;
}
h2 

{

font-family:'Segoe UI', 'serif', 'Times New Roman', 'Times', 'serif';

}